<!-- templates/index.html -->

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(group_ids_form) }}
        </div>
    </div>
    <button onclick="copyToClip()">Copy html</button>
    <div>
    	{% if result_html %}
    		{{result_html|safe}}
    	{% endif %}
    </div>
    {% if wrapped_html %}
    <input type="text"  id="wrapped_html" style="display:none;" value="{{wrapped_html}}">
    {% endif %}
{% endblock %}

